#cover{
    background-image: url("../images/pitch.jpeg");
    background-size: cover;
    background-position: center;
}
#cover{
    margin-top: 0px;
    padding-top: 0;
}
.text{
    z-index:1;
    font-weight :100;
    font-size: 60px;
    color :orange;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0 -3px 0 #333,
      0 6px 8px rgba(0,0,0,.4),
      0 9px 10px rgba(0,0,0,.15),
      0 30px 10px rgba(0,0,0,.18),
      0 15px 10px rgba(0,0,0,.21);
    }

  .overlay{
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;

  }
  #kiss{
    background-color:blue;
    background-size: cover;
  }
  #nav{
    margin-bottom: 0px;
    height: 20px;
  }
  #login{
    background-image: url("../images/skull.jpeg");
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    margin-top: 50px;

  }
  #ac{
    color: antiquewhite;
  }
  #log{
    font-family: 'Josefin Sans', sans-serif;
    color: blue;
    font-weight: 200;
  }
  #reg{
    background-image: url("../images/stairs.jpeg");
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    margin-top: 50px;
  }